
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: brown;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: aqua;
    height: 50px;
}

main{
    background-color: white;
    flex-grow: 1;
}

footer {
    background-color: black;
    height: 50px;
}